<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Python Code Playground</title>
    <link rel="icon" type="image/png" href="https://i.postimg.cc/R0NfXPH8/Thi-t-k-ch-a-c-t-n-12.png" />
    <style>
        /* Minimal styling to ensure readability */
        body { background: #000; color: #0f0; font-family: monospace; line-height: 1.2; }
    </style>
</head>
<body>
<pre>
 ______   __  __   ______   __  __   ______   __   __       ______   ______   _____    ______      
/\  == \ /\ \_\ \ /\__  _\ /\ \_\ \ /\  __ \ /\ "-.\ \     /\  ___\ /\  __ \ /\  __-. /\  ___\     
\ \  _-/ \ \____ \\/_/\ \/ \ \  __ \\ \ \/\ \\ \ \-.  \    \ \ \____\ \ \/\ \\ \ \/\ \\ \  __\     
 \ \_\    \/\_____\  \ \_\  \ \_\ \_\\ \_____\\ \_\\"\_\    \ \_____\\ \_____\\ \____- \ \_____\   
  \/_/     \/_____/   \/_/   \/_/\/_/ \/_____/ \/_/ \/_/     \/_____/ \/_____/ \/____/  \/_____/   
                                                                                                    
 ______   __         ______   __  __   ______   ______   ______   __  __   __   __   _____         
/\  == \ /\ \       /\  __ \ /\ \_\ \ /\  ___\ /\  == \ /\  __ \ /\ \/\ \ /\ "-.\ \ /\  __-.       
\ \  _-/ \ \ \____  \ \  __ \\ \____ \\ \ \__ \\ \  __< \ \ \/\ \\ \ \_\ \\ \ \-.  \\ \ \/\ \      
 \ \_\    \ \_____\  \ \_\ \_\\/\_____\\ \_____\\ \_\ \_\\ \_____\\ \_____\\ \_\\"\_\\ \____-      
  \/_/     \/_____/   \/_/\/_/ \/_____/ \/_____/ \/_/ /_/ \/_____/ \/_____/ \/_/ \/_/ \/____/      
                                                                                                    
</pre>

<table width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td colspan="3" align="center">
            <pre>
 __   __   ______   __   __   __   ______   ______   ______   ______      __  __   ______   
/\ \ / /  /\  __ \ /\ "-.\ \ /\ \ /\  ___\ /\  __ \ /\__  _\ /\  ___\    /\ \/\ \ /\  ___\  
\ \ \'/   \ \  __ \\ \ \-.  \\ \ \\ \ \__ \\ \  __ \\/_/\ \/ \ \ \____   \ \ \_\ \\ \___  \ 
 \ \__|    \ \_\ \_\\ \_\\"\_\\ \_\\ \_____\\ \_\ \_\  \ \_\  \ \_____\   \ \_____\\/\_____\
  \/_/      \/_/\/_/ \/_/ \/_/ \/_/ \/_____/ \/_/\/_/   \/_/   \/_____/    \/_____/ \/_____/
                                                                                             
            </pre>
        </td>
    </tr>
    <tr>
        <td width="33%" valign="top">
            <pre>
 ___________________
&lt; NAME              &gt;
 -------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
            </pre>
            <form action="#" method="post">
                <input type="text" name="name" required style="width:100%;background:#000;color:#0f0;border:1px solid #0f0;">
            </form>
        </td>
        <td width="33%" valign="top">
            <pre>
 ___________________
&lt; EMAIL             &gt;
 -------------------
        \   ^__^
         \  (@@)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
            </pre>
            <form action="#" method="post">
                <input type="email" name="email" required style="width:100%;background:#000;color:#0f0;border:1px solid #0f0;">
            </form>
        </td>
        <td width="33%" valign="top">
            <pre>
 ___________________
&lt; MESSAGE           &gt;
 -------------------
        \   ^__^
         \  (**)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
            </pre>
            <form action="#" method="post">
                <textarea name="message" required rows="5" style="width:100%;background:#000;color:#0f0;border:1px solid #0f0;"></textarea>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <form action="#" method="post">
                <input type="submit" value="&#x2771; TRANSMIT MESSAGE &#x2770;" style="background:#000;color:#0f0;border:1px solid #0f0;padding:10px;">
            </form>
        </td>
    </tr>
</table>

<br>

<table width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td width="33%" align="center">
            <pre>
   _____
  /     \
 /       \
|   EMAIL |
|         |
|  &#x2709;     |
 \       /
  \_____/
            </pre>
            <p>info@pythoncodeplayground.com</p>
        </td>
        <td width="33%" align="center">
            <pre>
    .---.
   /     \
  /       \
 /  PHONE  \
 \         /
  \       /
   \     /
    '---'
            </pre>
            <p>+1 (555) 123-4567</p>
        </td>
        <td width="33%" align="center">
            <pre>
    /\
   /  \
  /    \
 /______\
|ADDRESS|
|  &#x2302;   |
|______|
            </pre>
            <p>123 Tech Street, San Francisco, CA 94105</p>
        </td>
    </tr>
</table>

<br>

<pre>
 ______   ______   ______   ______   ______   ______      __         __   __   __   __  __   ______   
/\  ___\ /\  __ \ /\  __ \ /\__  _\ /\  ___\ /\  == \    /\ \       /\ \ /\ "-.\ \ /\ \/ / /\  ___\  
\ \  __\ \ \ \/\ \\ \ \/\ \\/_/\ \/ \ \  __\ \ \  __<    \ \ \____  \ \ \\ \ \-.  \\ \  _"-\ \___  \ 
 \ \_\    \ \_____\\ \_____\  \ \_\  \ \_____\\ \_\ \_\   \ \_____\  \ \_\\ \_\\"\_\\ \_\ \_\\/\_____\
  \/_/     \/_____/ \/_____/   \/_/   \/_____/ \/_/ /_/    \/_____/   \/_/ \/_/ \/_/ \/_/\/_/ \/_____/
                                                                                                       
</pre>

<table width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td align="center">
            <a href="index.html" style="color:#0f0;text-decoration:none;">&#x2302; HOME</a>
        </td>
        <td align="center">
            <a href="about.html" style="color:#0f0;text-decoration:none;">&#x24D8; ABOUT</a>
        </td>
        <td align="center">
            <a href="#" style="color:#0f0;text-decoration:none;">&#x260E; CONTACT</a>
        </td>
    </tr>
</table>

<br>

<pre style="font-size:10px;line-height:1;">
01010000 01111001 01110100 01101000 01101111 01101110 00100000 01000011 01101111 01100100 01100101 00100000 01010000 01101100 01100001 01111001 01100111 01110010 01101111 01110101 01101110 01100100
</pre>

<p align="center">&copy; 2025 Python Code Playground | Powered by <a href="https://linktr.ee/tanbaycu" target="_blank" style="color:#0f0;">tanbaycu</a></p>

</body>
</html>